.search-bar {
  margin-bottom: 20px;
  text-align: center;
}

.search-bar h1 {
  margin-bottom: 10px;
}

.search-bar div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #e2e2e2;
}

.search-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}

.search-input input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
}

.search-icon {
  color: #888;
  cursor: pointer;
}
